.width {
  width: 100%;
}

body {
  color: #000;
  background-color: #FFFEF7;
  transition: background-color 1s ease;
  position: relative
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

  @font-face {
  font-family: Circular;
  src: url(../type/circular-black.woff);
  }
  h2 {
  font-family:Circular;
  line-height: 0.9em;
  color: #EEB91D;
  display: inline-block;
  text-align: left;
  padding: 0.5rem;
  letter-spacing: -2px;
  }
  h3 {
    font-family:Circular;
    line-height: 0.9em;
    color: #EEB91D;
    display: inline-block;
    margin: 0.2rem;
    text-align: left;
    padding: 0.5rem;
    letter-spacing: -2px;
  }
  @font-face {
  font-family: Avenir-oblique;
  src: url(../type/avenir-45-oblique.woff);
  }
  h4 {
    font-family:Avenir-oblique;
    line-height: 1.3em;
    color: #AEA989;
    display: inline-block;
    margin-top: 2rem;
    text-align: left;
    padding: 0.5rem;
    /* letter-spacing: -1px; */
    font-size: 1.3rem;
    max-width: 30rem;
  }
  h5 {
    font-family:Avenir;
    line-height: 1.5em;
    font-size: 0.6rem;
    /* line-height: 2.5em; */
    text-align: left;
    margin-top: -2rem;
    display: inline-block;
    padding: 1rem;
    color: #AEA989;
    max-width: 30rem;
  }
  @font-face {
  font-family: Avenir;
  src: url(../type/Avenir-Medium.woff);
  }
  a {
  font-family:Avenir;
  line-height: 1.5em;
  font-size: 1rem;
  /* line-height: 2.5em; */
  text-align: left;
  display: inline-block;
  padding: 1rem;
  color: #8C8462;
  /* max-width: 32rem; */
  }
  .thanks {
  font-family:Avenir;
  line-height: 1.4em;
  font-size: 1rem;
  /* line-height: 2.5em; */
  text-align: left;
  display: inline-block;
  padding: 1rem;
  color: #625C44;
  /* max-width: 32rem; */
  }
  p {
    font-family:Avenir;
    line-height: 1.5em;
    font-size: 1rem;
    /* line-height: 2.5em; */
    text-align: left;
    display: inline-block;
    padding: 1rem;
    color: #8C8462;
    max-width: 32rem;
  }
  p span
{
    display: block;
}
  .textalign{
    text-align: center;
  }
  .centertry {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .relative {
        position: relative;
  }
  .push {
    padding-top: 50rem;
  }
  .push3 {
    padding-top: 10rem;
  }
  .productpad {
    padding: 3rem;
  }
  figcaption {
    color: #8C8462;
    font-family:Avenir;
    font-size: 0.8rem;
    text-align: bottom;
}
  .bg1 {
    /* background-color: #5CB335; */
    /* background-color: #509C21; */
    background-color: #009b1d;
  }
  .bg2 {
    background-color: #FFFEF7;
  }

  .yellow-square {
  background-color: #FFDC00;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}
  .drop {
    margin-top: -40rem;
    position: absolute;
    z-index: 0;
  }
  .darq {
    background-color: black;
  }

  /* panel styles */
  .panel {
  }

  /* colours */
  .color-dark {
    background-color: #0D292B;
  }

  .color-aape {
    background-color: #FFFEF7;
  }

/* SVG styling */
.peakflowcolour {
  fill:#ee8531;
}

#peakflow {
  position: absolute;
}

.spacerblue{
fill:#2873ac;
}
.spacergrey{
fill:#b7b7b8;opacity:0.5;
}

#spacer {
  position: absolute;
}

#puff {
  position: absolute;
}
.puffblue{
fill:#58bad6;
}
.puffgrey{
fill:#e5e5e4;
}

#outline {
  position: absolute;
}
.uh{
  fill:none;
  stroke:#ebead3;
  stroke-miterlimit:10;
  stroke-width:4px;
}

.path {
  fill:none;
  /* stroke:#ebead3; */
  stroke: black;
}

#aape {
  position: absolute;
}
.aapeyellow{
  fill:#fffdf4;
}
.aapewhite{
  fill:#f5bf32;
}

/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #009b1d;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  /* background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif); */
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}

.anim, .anim svg {
  position: relative;
  width: 100%;
  height: 100%;
}
.anim path {
  stroke-width: 2;
}
